:root {
  --Dark-Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Gray: hsl(0, 0%, 27%);
}

* {
  box-sizing: border-box;
  font-size: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-family: "League Spartan", sans-serif;
}

.container {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.back {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  z-index: 3;
  transform: translateY(-100%);
  transition: transform 0.5s ease-out;
}
@media (min-width: 1440px) {
  .back {
    display: none;
  }
}

.toggle {
  cursor: pointer;
}

.desktop {
  display: none;
}

@media (min-width: 1440px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: unset;
  }
}
.navBar {
  position: absolute;
  width: 100%;
  z-index: 4;
}
@media (min-width: 1440px) {
  .navBar {
    display: flex;
    align-items: center;
    width: 28%;
    padding-left: 1.5rem;
  }
}
.navBar .logo-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 3rem;
  padding-left: 1.5rem;
  width: calc(50% + 1.5rem);
}
.navBar .nav {
  background-color: white;
  position: fixed;
  top: 0;
  padding-block: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}
.navBar .nav ul {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-weight: bolder;
}
.navBar .nav ul li {
  cursor: pointer;
}
.navBar .nav ul li:hover {
  color: var(--Dark-Gray);
}
@media (min-width: 1440px) {
  .navBar .nav ul li {
    position: relative;
    display: flex;
    padding-block: 8px;
  }
  .navBar .nav ul li::after {
    content: "";
    position: absolute;
    bottom: 0;
    transform: translateX(50%);
    width: 50%;
    height: 2.5px;
    border-radius: 1px;
    transition: background-color 0.2s ease;
  }
  .navBar .nav ul li:hover {
    color: white;
  }
  .navBar .nav ul li:hover::after {
    background-color: white;
  }
}
@media (min-width: 1440px) {
  .navBar .nav {
    transform: translateY(0);
    background-color: transparent;
    color: white;
    position: unset;
    width: auto;
    padding: auto;
  }
}
.navBar .nav-toggle {
  transform: translateY(0);
}

.header {
  position: relative;
}
.header .head {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .header .head {
    flex-direction: row;
  }
}
.header .head .headNav {
  position: relative;
  z-index: 1;
}
.header .head .headNav .hero1 {
  display: flex;
  overflow: hidden;
}
.header .head .headNav .arrow {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  right: 0;
  position: absolute;
  cursor: pointer;
}
@media (min-width: 1440px) {
  .header .head .headNav .arrow {
    transform: translateX(100%);
  }
}
.header .head .headNav .arrow img {
  padding: 1.3rem 1.5rem;
  width: 3.6rem;
}
.header .head .headNav .arrow img:hover {
  background-color: var(--Very-Dark-Gray);
}
.header .head .article {
  padding: 3rem 1.5rem;
}
.header .head .article h1 {
  font-size: 2.1rem;
  line-height: 1.1em;
}
.header .head .article p {
  color: var(--Dark-Gray);
  font-weight: 500;
  margin-top: 1rem;
  min-height: 9.375rem;
}
.header .head .article .shopNow {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  cursor: pointer;
}
.header .head .article .shopNow h2 {
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: 0.4em;
}
.header .head .article .shopNow:hover {
  color: var(--Dark-Gray);
}
.header .head .article .shopNow:hover img {
  filter: invert(78%) sepia(4%) saturate(13%) hue-rotate(128deg) brightness(82%) contrast(87%);
}

.main {
  display: flex;
  flex-direction: column;
}
.main .about {
  padding: 3rem 1.5rem;
}
.main .about h3 {
  text-transform: uppercase;
  letter-spacing: 0.45em;
  font-size: 0.9rem;
}
.main .about p {
  color: var(--Dark-Gray);
  margin-top: 1.2rem;
  line-height: 1.3em;
}/*# sourceMappingURL=style.css.map */